.education-item:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--color-border-light);
}
.education-title {
    font-weight: 600;
}

.education-university {
    /* font-size: 14px; */
    font-size: 0.9em;
}