.skill-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    font-size: small;
}

.skill-wrapper {
    margin-bottom: 16px;
}

.skill-wrapper.min-margin {
    margin-bottom: 5px;
}

.progress-wrap {
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}