
.MuiLink-root.builder-header-menu-link {
    padding-left: 20px;
    text-transform: none;
    margin: 0 10px 0 6px;
    text-decoration: none;
    color: var(--color-font-secondary);
}

.MuiLink-root.builder-header-menu-link.active {
    color: var(--color-primary);
    font-weight: 600;
}

.MuiLink-root.builder-header-menu-link:hover {
    background-color: none !important;
}

.resume-paper-wrap {
    padding: 80px 40px;
    background-color: var(--color-light-bg);
}

.MuiPaper-rounded.resume-paper {
    width: 700px;
    height: auto;
    /* padding: 20px 40px; */
    /* margin-top: 10px; */
}

@media screen and (max-width: 480px) {
    .MuiPaper-rounded.resume-paper {
      width: auto;
    }

    .resume-paper-wrap {
        padding: 60px 10px;
    }
}

/* BASIC INFO COMPONENT */
.basic-info.variant-1.name {
    text-transform: uppercase;
}

  
.grid-item {
    padding: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.grid-item-content {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background: #08e;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    border-radius: 50%;
}

.builder-header {
    justify-content: space-between;
}

.header-filters {
    display: flex;
    align-items: center;
}

.MuiButton-root.header-download-button {
    margin-right: 20px !important;
    text-transform: none;
}

.sidebar-column {
    height: 100%;
}

.layout-options {
    display: flex;
    margin-bottom: 18px;
}

.layout-options svg {
    cursor: pointer;
}