
.MuiLink-root.builder-header-menu-link {
    padding-left: 20px;
    text-transform: none;
    margin: 0 10px 0 6px;
    text-decoration: none;
    color: var(--color-font-secondary);
}

.MuiLink-root.builder-header-menu-link.active {
    color: var(--color-primary);
    font-weight: 600;
}

.MuiLink-root.builder-header-menu-link:hover {
    background-color: none !important;
}

.resume-paper-wrap {
    padding: 80px 40px;
    background-color: var(--color-light-bg);
}

.MuiPaper-rounded.resume-paper {
    width: 600px;
    height: auto;
    padding: 20px 40px;
}

@media screen and (max-width: 480px) {
    .MuiPaper-rounded.resume-paper {
      width: auto;
    }

    .resume-paper-wrap {
        padding: 60px 10px;
    }
}

/* BASIC INFO COMPONENT */
.basic-info.variant-1.name {
    text-transform: uppercase;
}