.experience-item:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--color-border-light);
}

.experience-title {
    font-weight: 600;
}

.experience-summary {
    font-size: 0.80rem;
}
