html {
  --color-text: black;
  --color-light-bg: #f3f3f3;
  --color-border: #bdbdbd;
  --color-border-light: #d3d3d3;
  --color-border-dark: #2f2f2f;
  --color-primary: #09915A;
  --color-primary-wop: rgba(9, 145, 90, 0.04);
  --color-error: #ff0000;
  --color-font-secondary: #505050;
  --gutter: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ====================
   RESUME SECTION START 
   ==================== */

.resume-section {
  padding: 5px;
  margin-bottom: 5px;
}

.resume-section:hover {
  outline: 1px dashed rgb(90, 89, 89);
  border-radius: 4px;
  /* background-color: rgb(250, 250, 250); */
}

.component-dragging {
  outline: 1px dashed rgb(90, 89, 89);
  border-radius: 4px;
  background-color: rgb(250, 250, 250);
}

.resume-section-title {
  display: flex;
  margin: 0 0 10px 0;
  border-bottom: 3px solid #000;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
}

.edit-component-icon {
  display: none;
  cursor: pointer;
  color: #ffffff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(0%, 0px);
  z-index: 99;
}

.edit-component-icon svg {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
}

.resume-section-wrap:hover .edit-component-icon {
  display: block;
}

.full-width-field {
  width: 100%;
  display: block;
}

.resume-section-wrap {
  position: relative;
}

.resume-paper .MuiGrid-grid-xs-12 {
  padding: 10px 40px 10px 40px;
}

.resume-paper .MuiGrid-grid-xs-7 {
  padding: 0px 10px 10px 40px;
}

.resume-paper .MuiGrid-grid-xs-5 {
  padding: 0px 40px 0 10px;
}

.drag-handle {
  display: none;
  cursor: pointer;
  color: #ffffff;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(0%, 0px);
  z-index: 99;
}

.drag-handle svg {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
}

.copy-component {
  display: none;
  cursor: pointer;
  color: #ffffff;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(0%, 0px);
  z-index: 99;
}

.copy-component svg {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
}

.resume-section-wrap:hover .drag-handle, .component-dragging .drag-handle, .resume-section-wrap:hover .copy-component {
  display: block;
}

.resume-paper-content-draggin-over {
  background-color: #e6ffe9;
}

/* ====================
   RESUME SECTION END 
==================== */


/* ====================
EDITOR SECTION START 
==================== */
.editor-heading-wrap {
  margin-bottom: 20px;
}

.editor-options-wrap {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.MuiSvgIcon-root.add-item-icon {
  color: var(--color-primary);
  cursor: pointer;
  margin-right: 5px;
}

.MuiSvgIcon-root.delete-item-icon {
  color: var(--color-error);
  cursor: pointer;
}

.editor-item {
  display: flex;
  align-items: center;
}

/* ====================
  EDITOR SECTION END 
==================== */


/* =============================
COMPONENT LIBRARY SECTION START 
=============================== */

.component-library-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.component-library-title {
  font-size: 20px;
  font-weight: 700;
}

/* =============================
COMPONENT LIBRARY SECTION END 
=============================== */



.d-none {
  display: none !important;
}   

@media screen and (max-width: 480px) {
  .mobile-d-none {
    display: none !important;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .resume-paper * {
    visibility: visible;
    
  }
  .resume-paper {
    position: absolute;
    width: 795px !important;
    left: 0;
    top: 0;
  }
}