.setting-editor-container {
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
    border-radius: 4px;
    height: auto;
    max-height: 90%;
}
.resume-setting-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
}

.resume-setting-section {
    margin-bottom: 10px;
    border-bottom: 2px solid var(--color-border-dark);
    padding-bottom: 10px;
}

.resume-setting-item {
    margin-bottom: 15px;
}

.resume-setting-heading {
    margin-bottom: 10px;
}

.resume-setting-heading span {
    font-size: 22px;
    font-weight: 700;
}

.resume-setting-item-label {
    color: rgb(43, 43, 43);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
    margin-top: 2px;
}

.resume-setting-item-body {
    display: flex;
    margin-top: 5px;
}

.font-size-div, .heading-alignment-div {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(187, 187, 187);
    color: rgb(79, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    min-width: 20px;
    min-height: 30px;
    margin-right: 10px;
    cursor: pointer;
    padding: 0px 5px;
}

.font-size-div.active, .heading-alignment-div.active {
    background-color: rgba(9, 145, 90, 0.1);
    border: 1px solid var(--color-primary);;
    color: var(--color-primary);
}

.resume-setting-selected-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 5px;
    border: 1px solid #000000;
    cursor: pointer;
}